<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <img src="/img/logo.png" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;" alt="">
    <a class="navbar-brand" href="/index">Mandala - Tu Centro de Belleza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>